In [1]:
# going to import Long Beach year 2017 csv with zip code & avg income to plot 
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# import csv & read
file = 'SoCal Zip Code Income 2017.csv'

# read csv
income_zipcode_2017 = pd.read_csv('SoCal Zip Code Income 2017.csv') 
income_zipcode_2017.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
0,0,177,2017,93276,Tupman,54,"1,853,226",34319.00
1,1768,137,2017,91407,Van Nuys,34,"1,290,491",37955.62
2,1770,1315,2017,90045,Los Angeles,"18,766","2,074,763,206",110559.69
3,1771,342,2017,91403,Sherman Oaks,"14,265","1,989,124,375",139440.90
4,1772,1496,2017,95646,Kirkwood,52,"2,911,176",55984.15

In [3]:
# print column names for reference 
income_zipcode_2017.columns

Index(['Unnamed: 0', 'ID', 'Year', 'Zip Code', 'City', 'Returns', 'CA AGI',
       'Avg Income'],
      dtype='object')

In [4]:
# show the different column object types
income_zipcode_2017.dtypes

Unnamed: 0      int64
ID              int64
Year            int64
Zip Code       object
City           object
Returns        object
CA AGI         object
Avg Income    float64
dtype: object

In [5]:
# select Long Beach City zip codes
subset_zip_inc = income_zipcode_2017[income_zipcode_2017['Zip Code'].isin(['90802', '90803', '90804', '90805', '90806', '90807', '90808', '90809', '90810', '90813', '90814', '90815']) ]
subset_zip_inc.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
274,1834,1379,2017,90815,Long Beach,"19,480","1,725,210,740",88563.18
322,1884,1368,2017,90802,Long Beach,"20,003","1,128,446,514",56413.86
401,1461,1369,2017,90803,Long Beach,"18,095","2,207,927,407",122018.65
659,1553,1373,2017,90807,Long Beach,"16,474","1,386,576,665",84167.58
1347,635,1378,2017,90814,Long Beach,"10,291","853,150,536",82902.59

In [6]:
subset_zip_inc.drop = subset_zip_inc.drop('Unnamed: 0', axis = 1, inplace=True)
subset_zip_inc.head()

C:\Users\quiro\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

        ID  Year Zip Code        City Returns         CA AGI  Avg Income
274   1379  2017    90815  Long Beach  19,480  1,725,210,740    88563.18
322   1368  2017    90802  Long Beach  20,003  1,128,446,514    56413.86
401   1369  2017    90803  Long Beach  18,095  2,207,927,407   122018.65
659   1373  2017    90807  Long Beach  16,474  1,386,576,665    84167.58
1347  1378  2017    90814  Long Beach  10,291    853,150,536    82902.59

In [7]:
print(subset_zip_inc)

        ID  Year Zip Code        City Returns         CA AGI  Avg Income
274   1379  2017    90815  Long Beach  19,480  1,725,210,740    88563.18
322   1368  2017    90802  Long Beach  20,003  1,128,446,514    56413.86
401   1369  2017    90803  Long Beach  18,095  2,207,927,407   122018.65
659   1373  2017    90807  Long Beach  16,474  1,386,576,665    84167.58
1347  1378  2017    90814  Long Beach  10,291    853,150,536    82902.59
1456  1374  2017    90808  Long Beach  19,524  1,792,417,489    91805.85
1465  1371  2017    90805  Long Beach  40,884  1,566,216,661    38308.79
1671  1370  2017    90804  Long Beach  18,148    812,189,919    44753.69
1884  1375  2017    90809  Long Beach     478     29,725,487    62187.21
1905  1372  2017    90806  Long Beach  18,629    772,333,338    41458.66
2163  1377  2017    90813  Long Beach  21,398    680,120,823    31784.32
2271  1376  2017    90810  Long Beach  16,978    704,830,305    41514.33

In [8]:
# export 2017 mean income for Riverside zips to csv files
long_beach_zip_inc_2017 = subset_zip_inc.to_csv("Riverside Zip Codes Income 2017.csv")