In [33]:
# going to import Long Beach year 2017 csv with zip code & avg income to plot 
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [34]:
# import csv & read
file = 'SoCal Zip Code Income 2017.csv'

# read csv
sd_income_zipcode_2017 = pd.read_csv('SoCal Zip Code Income 2017.csv') 
sd_income_zipcode_2017.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
0,0,177,2017,93276,Tupman,54,"1,853,226",34319.00
1,1768,137,2017,91407,Van Nuys,34,"1,290,491",37955.62
2,1770,1315,2017,90045,Los Angeles,"18,766","2,074,763,206",110559.69
3,1771,342,2017,91403,Sherman Oaks,"14,265","1,989,124,375",139440.90
4,1772,1496,2017,95646,Kirkwood,52,"2,911,176",55984.15

In [35]:
# print column names for reference 
sd_income_zipcode_2017.columns

Index(['Unnamed: 0', 'ID', 'Year', 'Zip Code', 'City', 'Returns', 'CA AGI',
       'Avg Income'],
      dtype='object')

In [36]:
# show the different column object types
sd_income_zipcode_2017.dtypes

Unnamed: 0      int64
ID              int64
Year            int64
Zip Code       object
City           object
Returns        object
CA AGI         object
Avg Income    float64
dtype: object

In [43]:
# select San Diego City zip codes '92037', '92101', '92102', '92103', '92104', '92105', '92106','92107', '92109', '92110', '92111', '92113', '92114', '92115', '92116', '92117', '92119', '92120', '92121', '92122', '92123', '92124', '92126', 92128', '92129', '92130', '92131', 92139', '92154', '92173'
sd_subset_zip_inc = income_zipcode_2017[income_zipcode_2017['Zip Code'].isin(['92037', '92101', '92102', '92103', '92104', '92105', '92106', '92107', '92109', '92110', '92111', '92113', '92114', '92115', '92116', '92117', '92119', '92120', '92121', '92122', '92123', '92124', '92126', '92128', '92129', '92130', '92131', '92139', '92173']) ]
sd_subset_zip_inc.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
27,1753,604,2017,92116,San Diego,"18,531","1,285,581,660",69374.65
268,1871,608,2017,92121,San Diego,"2,666","354,980,164",133150.85
273,1833,597,2017,92109,San Diego,"25,525","2,029,368,919",79505.15
309,1911,593,2017,92105,San Diego,"29,334","995,906,200",33950.58
443,1336,609,2017,92122,San Diego,"20,074","1,785,205,615",88931.24

In [46]:
sd_subset_zip_inc.drop = sd_subset_zip_inc.drop('Unnamed: 0', axis = 1, inplace=True)
sd_subset_zip_inc.head()

C:\Users\quiro\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

      ID  Year Zip Code       City Returns         CA AGI  Avg Income
27   604  2017    92116  San Diego  18,531  1,285,581,660    69374.65
268  608  2017    92121  San Diego   2,666    354,980,164   133150.85
273  597  2017    92109  San Diego  25,525  2,029,368,919    79505.15
309  593  2017    92105  San Diego  29,334    995,906,200    33950.58
443  609  2017    92122  San Diego  20,074  1,785,205,615    88931.24

In [48]:
print(sd_subset_zip_inc)

        ID  Year Zip Code        City Returns         CA AGI  Avg Income
27     604  2017    92116   San Diego  18,531  1,285,581,660    69374.65
268    608  2017    92121   San Diego   2,666    354,980,164   133150.85
273    597  2017    92109   San Diego  25,525  2,029,368,919    79505.15
309    593  2017    92105   San Diego  29,334    995,906,200    33950.58
443    609  2017    92122   San Diego  20,074  1,785,205,615    88931.24
487    590  2017    92102   San Diego  19,649    824,774,888    41975.41
514    589  2017    92101   San Diego  20,089  1,995,203,263    99318.20
592    614  2017    92128   San Diego  23,892  2,288,928,095    95803.12
597    601  2017    92113   San Diego  21,172    657,336,736    31047.46
1354   603  2017    92115   San Diego  25,428  1,278,395,711    50275.12
1449   624  2017    92139   San Diego  16,723    766,372,045    45827.43
1457   592  2017    92104   San Diego  24,928  1,489,520,436    59752.91
1484   599  2017    92111   San Diego  22,105  1,245,821,629    56359.27
1589   607  2017    92120   San Diego  14,210  1,211,697,607    85270.77
1639   615  2017    92129   San Diego  23,990  2,458,801,639   102492.77
1648   598  2017    92110   San Diego  12,968    935,177,077    72114.21
1883   445  2017    92173  San Ysidro  22,414    700,249,921    31241.63
1888   602  2017    92114   San Diego  31,092  1,309,601,673    42120.21
1907   612  2017    92126   San Diego  37,093  2,432,852,168    65587.91
1960   606  2017    92119   San Diego  11,767    899,312,415    76426.65
2041   595  2017    92107   San Diego  15,069  1,249,676,293    82930.27
2059   610  2017    92123   San Diego  14,105  1,003,104,183    71116.92
2067  1475  2017    92037    La Jolla  18,936  4,615,520,518   243743.16
2108   605  2017    92117   San Diego  26,779  1,806,059,256    67443.12
2156   617  2017    92131   San Diego  16,238  2,300,232,077   141657.35
2202   594  2017    92106   San Diego   9,123  1,133,091,931   124201.68
2247   611  2017    92124   San Diego  11,601    952,504,415    82105.37
2269   616  2017    92130   San Diego  24,598  4,845,636,762   196993.12
2283   591  2017    92103   San Diego  19,298  1,860,442,236    96405.96

In [49]:
# export 2017 mean income for San Diego zip codes to csv files
sd_subset_zip_inc.to_csv("San Diego Zip Codes Income 2017.csv")