In [113]:
import pandas as pd 
import csv
import os

In [124]:
#import excel file and convert into csv
data_xls = pd.read_excel('long-beach-ca.xls', index_col=None)
data_xls.to_csv('LB.csv')
LongBeachCSV = "LB.csv"
LongBeach = pd.read_csv(LongBeachCSV)
LongBeach
#Renaming columns
Rename_LB = LongBeach.rename(columns = {"Long Beach, CA - All Homes":"Long Beach Zip Code","Unnamed: 1": "Zipcode",
                                        "Unnamed: 2":"Type","Unnamed: 3":"Current Home Value"})
#Drop unnecessary columns and rows
Drop_LongBeach = Rename_LB.drop(Rename_LB.iloc[:,5:80],axis = 1)
Drop_LongBeach = Drop_LongBeach.drop([0,1,2],axis = 0)
#Display DF
Drop_LongBeach

    Unnamed: 0 Long Beach Zip Code  Zipcode       Type Current Home Value
3            3               90802  zipcode  All Homes             378200
4            4               90803  zipcode  All Homes             985300
5            5               90804  zipcode  All Homes             491300
6            6               90805  zipcode  All Homes             466700
7            7               90806  zipcode  All Homes             535500
8            8               90807  zipcode  All Homes             639100
9            9               90808  zipcode  All Homes             685500
10          10               90809  zipcode  All Homes                ---
11          11               90810  zipcode  All Homes             477400
12          12               90813  zipcode  All Homes             396200
13          13               90814  zipcode  All Homes             750600
14          14               90815  zipcode  All Homes             697200

In [118]:
#import excel file and convert into csv
LA_xls = pd.read_excel('los-angeles-ca.xls', index_col = None)
LA_xls.to_csv = ('LA.csv')
LA_CSV = 'LA.csv'
LA_Data = pd.read_csv(LA_CSV)
LA_Data

#Renaming columns
Rename_LA = LA_Data.rename(columns = {"Los Angeles, CA - All Homes":"Los Angeles Zip Codes","Unnamed: 1": "Zipcode",
                                      "Unnamed: 2":"Type","Unnamed: 3":"Current Home Value"})

#Drop unnecessary columns and rows
Drop_LosAngeles = Rename_LA.drop(Rename_LA.iloc[:,5:80],axis = 1)
Drop_LosAngeles = Drop_LosAngeles.drop([0,1,2],axis = 0)

#Display DF
Drop_LosAngeles

     Unnamed: 0 Los Angeles Zip Codes  Zipcode       Type Current Home Value
3             3                 90001  zipcode  All Homes             381400
4             4                 90002  zipcode  All Homes             378400
5             5                 90003  zipcode  All Homes             402600
6             6                 90004  zipcode  All Homes            1379700
7             7                 90005  zipcode  All Homes             781700
8             8                 90006  zipcode  All Homes             657500
9             9                 90007  zipcode  All Homes             660900
10           10                 90008  zipcode  All Homes             838000
11           11                 90010  zipcode  All Homes                ---
12           12                 90011  zipcode  All Homes             415000
13           13                 90012  zipcode  All Homes             574300
14           14                 90013  zipcode  All Homes             597100
15           15                 90014  zipcode  All Homes             597100
16           16                 90015  zipcode  All Homes             656100
17           17                 90016  zipcode  All Homes             736600
18           18                 90017  zipcode  All Homes             635900
19           19                 90018  zipcode  All Homes             702900
20           20                 90019  zipcode  All Homes            1121700
21           21                 90020  zipcode  All Homes             581400
22           22                 90022  zipcode  All Homes             454600
23           23                 90023  zipcode  All Homes             428300
24           24                 90024  zipcode  All Homes            1252400
25           25                 90025  zipcode  All Homes             968900
26           26                 90026  zipcode  All Homes             953100
27           27                 90027  zipcode  All Homes            1485600
28           28                 90028  zipcode  All Homes             901300
29           29                 90029  zipcode  All Homes             930600
30           30                 90031  zipcode  All Homes             629100
31           31                 90032  zipcode  All Homes             620300
32           32                 90033  zipcode  All Homes             489400
..          ...                   ...      ...        ...                ...
73           73                 91306  zipcode  All Homes             565800
74           74                 91311  zipcode  All Homes             637600
75           75                 91316  zipcode  All Homes             706700
76           76                 91324  zipcode  All Homes             622300
77           77                 91325  zipcode  All Homes             702800
78           78                 91326  zipcode  All Homes             780800
79           79                 91331  zipcode  All Homes             484600
80           80                 91335  zipcode  All Homes             547200
81           81                 91342  zipcode  All Homes             523700
82           82                 91343  zipcode  All Homes             594400
83           83                 91344  zipcode  All Homes             647900
84           84                 91345  zipcode  All Homes             540600
85           85                 91352  zipcode  All Homes             548100
86           86                 91356  zipcode  All Homes             982000
87           87                 91364  zipcode  All Homes             905600
88           88                 91367  zipcode  All Homes             762800
89           89                 91401  zipcode  All Homes             797800
90           90                 91402  zipcode  All Homes             492300
91           91                 91403  zipcode  All Homes            1085300
92           92                 91405  zipcode  All Homes             582000
93           93                 91406  zipcode  All Homes             599500
94           94                 91411  zipcode  All Homes             730400
95           95                 91423  zipcode  All Homes            1114200
96           96                 91436  zipcode  All Homes            1652600
97           97                 91601  zipcode  All Homes             735100
98           98                 91602  zipcode  All Homes             911300
99           99                 91604  zipcode  All Homes            1363500
100         100                 91605  zipcode  All Homes             580000
101         101                 91606  zipcode  All Homes             640300
102         102                 91607  zipcode  All Homes             898400

[100 rows x 5 columns]

In [121]:
#import excel file and convert into csv
data_xls = pd.read_excel('riverside-ca.xls', index_col=None)
data_xls.to_csv('Riverside.csv')
RiversideCSV = "Riverside.csv"
Riverside = pd.read_csv(RiversideCSV)
Riverside

#Renaming columns
Rename_Riverside = Riverside.rename(columns = {"Riverside, CA - All Homes":"Riverside Zip Codes",
                                               "Unnamed: 1": "Zipcode","Unnamed: 2":"Type",
                                               "Unnamed: 3":"Current Home Value"})

#Drop unnecessary columns and rows
Drop_Riverside = Rename_Riverside.drop(Rename_Riverside.iloc[:,5:80],axis = 1)
Drop_Riverside = Drop_Riverside.drop([0,1,2],axis = 0)

#Display DF
Drop_Riverside

   Unnamed: 0 Riverside Zip Codes  Zipcode       Type Current Home Value
3           3               92501  zipcode  All Homes             347600
4           4               92503  zipcode  All Homes             397300
5           5               92504  zipcode  All Homes             376100
6           6               92505  zipcode  All Homes             402900
7           7               92506  zipcode  All Homes             454600
8           8               92507  zipcode  All Homes             376200
9           9               92508  zipcode  All Homes             495800

In [122]:
#import excel file and convert into csv
data_xls = pd.read_excel('san-diego-ca.xls', index_col=None)
data_xls.to_csv('SD.csv')
SanDiegoCSV = "SD.csv"
SanDiego = pd.read_csv(SanDiegoCSV)
SanDiego

#Renaming columns
Rename_SanDiego = SanDiego.rename(columns = {"San Diego, CA - All Homes":"San Diego Zip Codes",
                                               "Unnamed: 1": "Zipcode","Unnamed: 2":"Type",
                                               "Unnamed: 3":"Current Home Value"})

#Drop unnecessary columns and rows
Drop_SanDiego = Rename_SanDiego.drop(Rename_SanDiego.iloc[:,5:80],axis = 1)
Drop_SanDiego = Drop_SanDiego.drop([0,1,2],axis = 0)

#Display DF
Drop_SanDiego

    Unnamed: 0 San Diego Zip Codes  Zipcode       Type Current Home Value
3            3               92037  zipcode  All Homes            1587800
4            4               92101  zipcode  All Homes             582800
5            5               92102  zipcode  All Homes             464400
6            6               92103  zipcode  All Homes             759200
7            7               92104  zipcode  All Homes             621000
8            8               92105  zipcode  All Homes             437600
9            9               92106  zipcode  All Homes            1090500
10          10               92107  zipcode  All Homes             963300
11          11               92108  zipcode  All Homes             403400
12          12               92109  zipcode  All Homes             974800
13          13               92110  zipcode  All Homes             663500
14          14               92111  zipcode  All Homes             606900
15          15               92113  zipcode  All Homes             408900
16          16               92114  zipcode  All Homes             458600
17          17               92115  zipcode  All Homes             539600
18          18               92116  zipcode  All Homes             634100
19          19               92117  zipcode  All Homes             677100
20          20               92119  zipcode  All Homes             609200
21          21               92120  zipcode  All Homes             651200
22          22               92121  zipcode  All Homes             715100
23          23               92122  zipcode  All Homes             739900
24          24               92123  zipcode  All Homes             614700
25          25               92124  zipcode  All Homes             673200
26          26               92126  zipcode  All Homes             609800
27          27               92127  zipcode  All Homes             860500
28          28               92128  zipcode  All Homes             657300
29          29               92129  zipcode  All Homes             791300
30          30               92130  zipcode  All Homes            1116500
31          31               92131  zipcode  All Homes             850700
32          32               92139  zipcode  All Homes             456000
33          33               92154  zipcode  All Homes             479300
34          34               92173  zipcode  All Homes             451500