In [126]:
import pandas as pd 
import csv
import os

In [142]:
#import excel file and convert into csv
data_xls = pd.read_excel('long-beach-ca.xls', index_col=None)
data_xls.to_csv('Long Beach.csv')
LongBeachCSV = "Long Beach.csv"
LongBeach = pd.read_csv(LongBeachCSV)

#Renaming columns
Rename_LB = LongBeach.rename(columns = {"Long Beach, CA - All Homes":"Long Beach Zip Code","Unnamed: 1": "Zipcode",
                                        "Unnamed: 2":"Type","Unnamed: 3":"Current Home Value"})
#Drop unnecessary columns and rows
Drop_LongBeach = Rename_LB.drop(Rename_LB.iloc[:,5:80],axis = 1)
Drop_LongBeach = Drop_LongBeach.drop([0,1,2],axis = 0)
#Display DF
Drop_LongBeach.head()

   Unnamed: 0 Long Beach Zip Code  Zipcode       Type Current Home Value
3           3               90802  zipcode  All Homes             378200
4           4               90803  zipcode  All Homes             985300
5           5               90804  zipcode  All Homes             491300
6           6               90805  zipcode  All Homes             466700
7           7               90806  zipcode  All Homes             535500

In [146]:
#import excel file and convert into csv
LA_xls = pd.read_excel('los-angeles-ca.xls', index_col = None)
LA_xls.to_csv = ('LA.csv')
LA_CSV = 'LA.csv'
LA_Data = pd.read_csv(LA_CSV)


#Renaming columns
Rename_LA = LA_Data.rename(columns = {"Los Angeles, CA - All Homes":"Los Angeles Zip Codes","Unnamed: 1": "Zipcode",
                                      "Unnamed: 2":"Type","Unnamed: 3":"Current Home Value"})

#Drop unnecessary columns and rows
Drop_LosAngeles = Rename_LA.drop(Rename_LA.iloc[:,5:80],axis = 1)
Drop_LosAngeles = Drop_LosAngeles.drop([0,1,2],axis = 0)

#Display DF
Drop_LosAngeles.head()

   Unnamed: 0 Los Angeles Zip Codes  Zipcode       Type Current Home Value
3           3                 90001  zipcode  All Homes             381400
4           4                 90002  zipcode  All Homes             378400
5           5                 90003  zipcode  All Homes             402600
6           6                 90004  zipcode  All Homes            1379700
7           7                 90005  zipcode  All Homes             781700

In [133]:
#import excel file and convert into csv
data_xls = pd.read_excel('riverside-ca.xls', index_col=None)
data_xls.to_csv('Riverside.csv')
RiversideCSV = "Riverside.csv"
Riverside = pd.read_csv(RiversideCSV)
Riverside

#Renaming columns
Rename_Riverside = Riverside.rename(columns = {"Riverside, CA - All Homes":"Riverside Zip Codes",
                                               "Unnamed: 1": "Zipcode","Unnamed: 2":"Type",
                                               "Unnamed: 3":"Current Home Value"})

#Drop unnecessary columns and rows
Drop_Riverside = Rename_Riverside.drop(Rename_Riverside.iloc[:,5:80],axis = 1)
Drop_Riverside = Drop_Riverside.drop([0,1,2],axis = 0)

#Display DF
Drop_Riverside.head()

   Unnamed: 0 Riverside Zip Codes  Zipcode       Type Current Home Value
3           3               92501  zipcode  All Homes             347600
4           4               92503  zipcode  All Homes             397300
5           5               92504  zipcode  All Homes             376100
6           6               92505  zipcode  All Homes             402900
7           7               92506  zipcode  All Homes             454600

In [136]:
#import excel file and convert into csv
data_xls = pd.read_excel('san-diego-ca.xls', index_col=None)
data_xls.to_csv('San Diego.csv')
SanDiegoCSV = "San Diego.csv"
SanDiego = pd.read_csv(SanDiegoCSV)
SanDiego

#Renaming columns
Rename_SanDiego = SanDiego.rename(columns = {"San Diego, CA - All Homes":"San Diego Zip Codes",
                                               "Unnamed: 1": "Zipcode","Unnamed: 2":"Type",
                                               "Unnamed: 3":"Current Home Value"})

#Drop unnecessary columns and rows
Drop_SanDiego = Rename_SanDiego.drop(Rename_SanDiego.iloc[:,5:80],axis = 1)
Drop_SanDiego = Drop_SanDiego.drop([0,1,2],axis = 0)

#Display DF
Drop_SanDiego.head()

   Unnamed: 0 San Diego Zip Codes  Zipcode       Type Current Home Value
3           3               92037  zipcode  All Homes            1587800
4           4               92101  zipcode  All Homes             582800
5           5               92102  zipcode  All Homes             464400
6           6               92103  zipcode  All Homes             759200
7           7               92104  zipcode  All Homes             621000

In [135]:
Clean_LB = Drop_LongBeach.to_csv("Clean Long Beach.csv")
Clean_LA = Drop_LosAngeles.to_csv("Clean Los Angeles.csv")
Clean_RS = Drop_Riverside.to_csv("Clean Riverside.csv")
Clean_SD = Drop_SanDiego.to_csv("Clean San Diego.csv")