# Team Project Title:
Where Should I Live, Will I be There Long?

# Project Description/Outline: 
This project focuses on comparing the average income by zip code, the average home value by zip code, and the probability of being in default based on employment tenure.

# Research Questions
Does zip code determine default risk?
How does income level and tenure in employment affect your housing status?

# Hypothesis:

Looking at only zip code and the housing value, what is the likelihood of a homeowner will end up in default based on the number of years at current job.

# Employment, Zip Codes, & Home Values...Oh My! 
* Nehemias Vicente (NV) - Employment & Default Datasets 
* Carlos Quiroz (CQ) - Zip Code & Income Datsets
* Christopher Dimmock (CD) - Home Values Dataset

 ## First We Look At Three Citites and Their Corresponding Zip Codes

## San Diego Data

In [6]:
# Import Dependencies 
import matplotlib
import matplotlib.pyplot as plt
import csv
import pandas as pd
import os
import numpy as np

In [2]:
# import CQ merged zipcode & income csv & read
file = 'SoCal Zip Code Income 2017.csv'

# read csv
sd_income_zipcode_2017 = pd.read_csv('SoCal Zip Code Income 2017.csv') 
sd_income_zipcode_2017.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
0,0,177,2017,93276,Tupman,54,"1,853,226",34319.00
1,1768,137,2017,91407,Van Nuys,34,"1,290,491",37955.62
2,1770,1315,2017,90045,Los Angeles,"18,766","2,074,763,206",110559.69
3,1771,342,2017,91403,Sherman Oaks,"14,265","1,989,124,375",139440.90
4,1772,1496,2017,95646,Kirkwood,52,"2,911,176",55984.15

In [3]:
# select San Diego City zip codes 
sd_subset_zip_inc = sd_income_zipcode_2017[sd_income_zipcode_2017['Zip Code'].isin(['92037', '92101', '92102', '92103', '92104', '92105', '92106', '92107', '92109', '92110', '92111', '92113', '92114', '92115', '92116', '92117', '92119', '92120', '92121', '92122', '92123', '92124', '92126', '92128', '92129', '92130', '92131', '92139', '92173']) ]
sd_subset_zip_inc.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
27,1753,604,2017,92116,San Diego,"18,531","1,285,581,660",69374.65
268,1871,608,2017,92121,San Diego,"2,666","354,980,164",133150.85
273,1833,597,2017,92109,San Diego,"25,525","2,029,368,919",79505.15
309,1911,593,2017,92105,San Diego,"29,334","995,906,200",33950.58
443,1336,609,2017,92122,San Diego,"20,074","1,785,205,615",88931.24

# Summary
NV Data - COME UP WITH SOMETHING BRIEF & RELEVANT AND I'LL TWEAK IT

CQ Data - The mean income per zipcode within the same City region identifies whether or not your neighborhood is affluent, and six-figure income zip codes tend to be the more affluent neighborhoods. Within the same City, which has a shared local government, administration, and resources, your zip code provides an estimate of your yearly income.

CD DATA - COME UP WITH SOMETHING BRIEF & RELEVANT AND I'LL TWEAK IT