In [72]:
# going to import year 2010 csv with zip code & avg income to plot 
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [73]:
# import csv & read
file = 'SoCal Zip Code Income 2017.csv'

# read csv
income_zipcode_2017 = pd.read_csv('SoCal Zip Code Income 2017.csv') 
income_zipcode_2017.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
0,0,177,2017,93276,Tupman,54,"1,853,226",34319.00
1,1768,137,2017,91407,Van Nuys,34,"1,290,491",37955.62
2,1770,1315,2017,90045,Los Angeles,"18,766","2,074,763,206",110559.69
3,1771,342,2017,91403,Sherman Oaks,"14,265","1,989,124,375",139440.90
4,1772,1496,2017,95646,Kirkwood,52,"2,911,176",55984.15

In [74]:
# print column names for reference '92501', '92503', '92504', '92505', '92506', '92507', '92508'
income_zipcode_2017.columns

Index(['Unnamed: 0', 'ID', 'Year', 'Zip Code', 'City', 'Returns', 'CA AGI',
       'Avg Income'],
      dtype='object')

In [75]:
# show the different column object types
income_zipcode_2017.dtypes

Unnamed: 0      int64
ID              int64
Year            int64
Zip Code       object
City           object
Returns        object
CA AGI         object
Avg Income    float64
dtype: object

In [80]:
subset_zip_inc = income_zipcode_2017[income_zipcode_2017['Zip Code'].isin(['92501', '92503', '92504', '92505', '92506', '92507', '92508']) ]
subset_zip_inc.head()

,Unnamed: 0,ID,Year,Zip Code,City,Returns,CA AGI,Avg Income
152,1711,753,2017,92501,Riverside,"8,874","400,450,078",45126.22
302,1904,756,2017,92504,Riverside,"23,553","1,208,818,841",51323.35
417,1413,755,2017,92503,Riverside,"37,973","1,974,408,813",51995.07
536,1596,760,2017,92508,Riverside,"15,061","1,138,990,019",75625.13
1428,587,757,2017,92505,Riverside,"21,308","956,372,407",44883.26

In [81]:
subset_zip_inc.drop = subset_zip_inc.drop('Unnamed: 0', axis = 1, inplace=True)
subset_zip_inc.head()

       ID  Year Zip Code       City Returns         CA AGI  Avg Income
152   753  2017    92501  Riverside   8,874    400,450,078    45126.22
302   756  2017    92504  Riverside  23,553  1,208,818,841    51323.35
417   755  2017    92503  Riverside  37,973  1,974,408,813    51995.07
536   760  2017    92508  Riverside  15,061  1,138,990,019    75625.13
1428  757  2017    92505  Riverside  21,308    956,372,407    44883.26

In [84]:
print(subset_zip_inc)

       ID  Year Zip Code       City Returns         CA AGI  Avg Income
152   753  2017    92501  Riverside   8,874    400,450,078    45126.22
302   756  2017    92504  Riverside  23,553  1,208,818,841    51323.35
417   755  2017    92503  Riverside  37,973  1,974,408,813    51995.07
536   760  2017    92508  Riverside  15,061  1,138,990,019    75625.13
1428  757  2017    92505  Riverside  21,308    956,372,407    44883.26
2049  759  2017    92507  Riverside  22,137    989,166,809    44683.87
2220  758  2017    92506  Riverside  20,594  1,897,618,226    92144.23

In [87]:
# export 2017 mean income for Riverside zips to csv files
riverside_zip_inc_2017 = subset_zip_inc.to_csv("Riverside Zip Codes Income 2017.csv")